@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {}

/*container*/
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  height: inherit;
}

/*row*/
.row {
  width: inherit;
  height: inherit;
  padding: 0;

}

/*layout*/
#header {
  width: 100%;
  z-index: 7;
  height: 140px;
  background: #fff;
  position: fixed;
}

#section1 {
  padding-top: 140px;
  position: relative;
}

#section2 {
  background: #fff;
  position: relative;
}

#section3 {
  background: #e7e7e7;
  position: relative;
}

#section4 {
  background: #fff;
}

#information {
  background: url(../image/sand.jpg)no-repeat;
  background-size: cover;
  filter: saturate(0.4);
}

#footer {
  background: #242220;
}

/*header*/
.header {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 140px;
}


.header_logo .st0 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.header_nav {
  display: inline-block;
}

.header_nav ul {
  overflow: hidden;
  display: inline-block;
}

.header_nav ul li {
  float: left;
}

.header_nav ul li a {
  display: inline-block;
  padding-right: 6vw;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  transition: all .5s ease;
}

.header_nav ul li:hover a {
  color: #ccc;
}

.header_nav ul li:last-child a {
  padding-right: 0;
}

/*header_nav_responsive*/
.header_nav_responsive {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_nav_responsive ul {
  overflow: hidden;
}

.header_nav_responsive ul li {
  float: left;
}

.header_nav_responsive ul li a {
  display: inline-block;
  padding: 0 3vw;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  transition: all .5s ease;
}

.header_nav_responsive ul li:hover a {
  color: #ccc;
}

.header_nav_responsive ul li:first-child a {
  padding-left: 0;
}

.header_nav_responsive ul li:last-child a {
  padding-right: 0;
}

.header_nav_responsive ul li:first-child a {
  padding-left: 0;
}

.header_nav_responsive ul li:last-child a {
  padding-right: 0;
}

.header_menu {}

.header_menu span {
  padding-right: 2.57vw;
  margin-top: -4px;
  display: inline-block;
  font-size: 1.8vw;
}

.header_menu span:last-child {
  padding-right: 0;
}

.header_menu svg {
  width: 2vw;
  stroke-width: 1.5px;
}

.header_menu svg .st0 {
  fill: none;
  stroke: #000;
  stroke-width: 1.5;
  stroke-miterlimit: 10
}

/*section1*/
#section1 .visual {
  position: absolute;
  left: 0;
  top: 140px;
  z-index: -1;
  width: 100%;
  height: 55.6vw;
}

#section1 .visual video {
  /* width:130%; */
}

.sec1 {
  width: 100%;
  height: 55.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sec1>svg {
  background-size: 130px 30px;
}

.sec1>svg .st0 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.sec1>.sec1_desc strong {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.42vw;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-top: 17px;
}

.sec1>.sec1_desc p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.14vw;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-top: 33px;
  max-width: 500px;
}

/*section2*/

.sec2 {
  width: 100%;
  height: 1310px;
  position: relative;
  /* display:flex; */
}

.sec2 h2 {
  position: absolute;
  z-index: 5;
  top: 60px;
  right: 19.2%;
  max-width: 400px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 100px;
  font-weight: 700;
  text-align: right;
  color: #b8ada7;
  letter-spacing: -2px;
  line-height: 1;
}

.sec2 p {
  position: relative;
  z-index: 5;
  max-width: 530px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 18px;
  font-weight: 500;
  color: #b8ada7;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.8;
  word-break: keep-all;
}

.sec2 p:nth-of-type(1) {
  padding-top: 284px;
}

.sec2 p:nth-of-type(2) {
  padding-top: 50px;
}

.sec2 .texture1 {
  position: absolute;
  top: -202px;
  right: 0;
  width: 426px;
  height: 590px;
  background: url(../image/brand-story-1.jpg)no-repeat;
  background-size: cover;
}

.sec2 .texture2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 425px;
  height: 598px;
  background: url(../image/texture2.jpg)no-repeat;
  background-size: 100%;
}

#section2 .brandIM {
  position: absolute;
  z-index: 2;
  bottom: -278px;
  right: 0;
  width: 76%;
  height: 701px;
  background: url(../image/main2.jpg)no-repeat center bottom;
  background-size: cover;
}

/*section3*/
.sec3 {
  width: 100%;
  height: 1810px;
  display: flex;
  align-items: center;
  position: relative;
}

.sec3 ul li h3 {
  color: #b8ada7;
  font-size: 80px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
}

.sec3 ul li strong {
  display: block;
  font-size: 17px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

.sec3 ul li em {
  display: block;
  margin-top: 7px;
  color: #909090;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

#section3 .brandIM2 {
  position: absolute;
  z-index: 2;
  bottom: -278px;
  left: 0;
  width: 76%;
  height: 701px;
  background: url(../image/main5.jpg)no-repeat center bottom;
  background-size: cover;
}


/*section4*/
.sec4 {
  width: 100%;
  height: 1145px;
  display: flex;
}

.sec4>div {
  width: 50%;
  height: 100%;
}

.sec4 .left {}

.sec4 .left h2 {
  max-width: 480px;
  padding-top: 706px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 48px;
  font-weight: 700;
  color: #b8ada7;
}

.sec4 .right {}

.sec4 .right p {
  max-width: 530px;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 18px;
  font-weight: 500;
  color: #b8ada7;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.8;
  word-break: keep-all;
}

.sec4 .right p:first-of-type {
  padding-top: 706px;
}

.sec4 .right p:nth-of-type(2) {
  padding-top: 23px;
}

/*information*/
.information {
  height: 22.1vw;
  width: 100%;
  display: flex;
}

.information .info {
  position: relative;
  width: 33.333%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  color: #323e3b;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information .info::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 70px;
  background: #323e3b;
}

.information .info:first-child::after {
  width: 0;
}

.information .info h4 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 27px;
}

.information .info span {
  display: block;
  font-size: 10px;
  font-weight: 500;
}

.information .info span a {
  color: #323e3b;
  transition: all ease .5s;
}

.information .info span:hover a {
  color: #fff;
}

.information .info span:nth-of-type(1) {
  padding-bottom: 14px;
}

/*footer*/
.footer {
  width: 100%;
  height: 27vw;
  color: #a6b3a6;
}

.footer .footer_btn {
  padding-top: 62px;
  overflow: hidden;
}

.footer .footer_btn span {
  float: left;
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: .8vw;
  font-weight: 500;
  padding: 5px 20px;
  margin-right: 8px;
  text-align: center;
  line-height: 2.4vw;
  background: #2e2d29;
  transition: all ease .5s;
}

.footer .footer_btn span:hover {
  background: #000;
  color: #fff;
}

.footer .footer_desc {
  padding: 33px 0 52px 0;
  box-sizing: border-box;
  border-bottom: .7px solid #a6b3a6;
}

.footer .footer_desc p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: .75vw;
  font-weight: 400;
  line-height: 2.8;
}

.footer .footer_info {
  margin-top: 28px;
  overflow: hidden;
}

.footer .footer_info span {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  float: left;
}

.footer .footer_info .sns {
  float: right;
}

.footer .footer_info .sns li {
  display: inline-block;
  position: relative;
}

.footer .footer_info .sns li::after {
  position: absolute;
  top: 7px;
  left: 0;
  display: block;
  content: '';
  background: #a6b3a6;
  width: 1px;
  height: 10px;
}

.footer .footer_info .sns li a {
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  padding: 0 1.64vw;
  transition: .5s all ease;
}

.footer .footer_info .sns li:hover a {
  color: #fff;
}

.footer .footer_info .sns li:first-child::after {
  width: 0;
}

.footer .footer_info .sns li:last-child a {
  padding-right: 0;
}

@media(max-width:1380px) {
  .container {
    width: 100%;
  }

  .row {
    padding: 0 30px;
  }

  .header_nav_responsive {
    display: block;
  }

  .header_nav {
    display: none;
  }

  .header_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header_menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

}

@media(max-width:1200px) {}

@media(max-width:1080px) {
  .texture1 {
    display: none;
  }

  .texture2 {
    display: none;
  }

  .brandIM {
    display: none;
  }

  .brandIM2 {
    display: none;
  }

  .sec2 {
    height: 450px;
  }

  .sec2 h2 {
    position: static;
    padding-top: 80px;
    font-size: 50px;
    letter-spacing: -3px;
    text-align: left;
  }

  .sec2 p:nth-of-type(1) {
    padding-top: 60px;
  }

  .sec2 p:nth-of-type(2) {
    padding-top: 15px;
  }

  .sec2 p {
    font-size: 14px;
  }

  .sec3 {
    height: 450px;
    justify-content: center;
  }

  .sec3 ul {
    padding: 30px 80px;
    border: 1px solid #fff;
  }

  .sec3 ul li {
    margin-bottom: 25px;
  }

  .sec3 ul li:last-of-type {
    margin-bottom: 0;
  }

  .sec3 ul li h3 {
    font-size: 30px;
    text-align: center;
  }

  .sec3 ul li strong {
    display: block;
    font-size: 14px;
    text-align: center;
  }

  .sec3 ul li em {
    font-size: 10px;
    margin-top: 0;
    text-align: center;
  }

  .sec4 {
    height: 490px;
    flex-direction: column;
  }

  .sec4>div {
    width: 100%;
    height: 0;
  }

  .sec4 .left h2 {
    padding-top: 80px;
    letter-spacing: -3px;
  }

  .sec4 .right p {
    font-size: 14px;
  }

  .sec4 .right p:first-of-type {
    padding-top: 280px;
  }
}

@media(max-width:900px) {
  .sec1>svg {
    width: 200px;
  }

  .sec1_desc {
    display: none;
  }

  .footer {
    height: 44vw;
  }
}

@media(max-width:800px) {

  .footer .footer_btn {
    padding-top: 5vw;
    display: flex;
    justify-content: center;
  }

  .footer .footer_btn span {
    padding: 10px 15px;
  }

  .footer .footer_desc {
    padding: 20px 0 30px 0;
  }

  .footer .footer_desc p {
    text-align: center;
  }

  .footer .footer_info {
    margin-top: 15px;
  }

  .footer .footer_info span {
    display: none;
  }

  .footer .footer_info .sns {
    float: none;
    text-align: center;
  }

}

@media(max-width:680px) {
  .header_nav_responsive {
    width: 250px;
  }

  .header_nav_responsive ul li a {
    font-size: 13px;
  }

  .information {
    height: 260px;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .information .info span a {
    color: #ccc;
  }

  .information .info h4 {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .information .info span:nth-of-type(1) {
    padding-bottom: 6px;
  }

  .information .info::after {
    display: none;
  }
}