@charset "UTF-8";  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  background: #f8f8f8;
}

/*container*/
.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  height:inherit;
}
/*row*/
.row{
  width:inherit;
  height:inherit;
  padding:0;
}
/*scroll*/
.scroll{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1002;
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
/*down*/
.down{transform:translateY(100px);transition:all 1s ease;}
/*layout*/
#header {
  width: 100%;
  z-index: 7;
  height: 140px;
  background: #fff;
  position: fixed;
}

#section1 {
  height: 720px;
  padding-top:140px;
}

#section2 {}

#section3 {}

#information {
  background: url(../image/sand.jpg)no-repeat;
  background-size: cover;
  filter: saturate(0.4);
}

#footer {
  background: #242220;
}

/*header*/
.header {
  position:relative;
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  width: 140px;
}


.header_logo .st0 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}

.header_nav {
  display: inline-block;
}

.header_nav ul {
  overflow: hidden;
  display:inline-block;
}

.header_nav ul li {
  float: left;
}

.header_nav ul li a {
  display: inline-block;
  padding-right: 6vw;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color:#000;
  transition: all .5s ease;
}

.header_nav ul li:hover a{
  color:#ccc;
}

.header_nav ul li:last-child a {
  padding-right: 0;
}

/*header_nav_responsive*/
.header_nav_responsive{
  display:none;
  position:absolute;
  bottom:0px;
  left:50%;
  transform:translate(-50%,-50%);
}

.header_nav_responsive ul {
  overflow: hidden;
}

.header_nav_responsive ul li {
  float: left;
}

.header_nav_responsive ul li a {
  display: inline-block;
  padding:0 3vw;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color:#000;
  transition: all .5s ease;
}

.header_nav_responsive ul li:hover a{
  color:#ccc;
}
.header_nav_responsive ul li:first-child a {
  padding-left: 0;
}
.header_nav_responsive ul li:last-child a {
  padding-right: 0;
}

.header_menu {
}

.header_menu span {
  padding-right: 2.57vw;
  margin-top: -4px;
  display: inline-block;
  font-size: 1.8vw;
}

.header_menu span:last-child {
  padding-right: 0;
}

.header_menu svg {
  width: 2vw;
  stroke-width: 1.5px;
}
.header_menu svg .st0{
  fill: none;
  stroke: #000;
  stroke-width: 1.5;
  stroke-miterlimit: 10
}
/*sec1*/
.sec1 {
  width:100%;
  height:100%;
  display:flex;
}
.sec1 > div{
  width:50%;
  height:100%;
}
.sec1 .left{

}
.sec1 .left #home-slider{
  width:100%;
  height:100%;
}

.sec1 > div.right{

}
.sec1 > div.right > div{
  height:50%;
  width:100%;
  overflow:hidden;
}

.sec1 > div.right .right_desc{}
.sec1 > div.right .right_desc .swiper-image{
  background:#f4f4f4;
}
.sec1 > div.right .right_desc h2{
  font-size: 3vw;
  font-family: 'Gentium Basic', serif;
  font-weight:500;
}
.sec1 > div.right .right_desc p{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  font-weight: 500;
  max-width:450px;
}
.sec1 > div.right .right_desc em{
  display:block;
  margin-top:26px;
}
.sec1 > div.right .right_desc em a{
  display:block;
  text-align:left;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13.8px;
  font-weight: 500;
  color:#000;
}

.sec1 .left img{
  height:100%;
}
.sec1 .right img{
  height:100%;
}
/*sec2*/
.sec2 {
  padding-bottom: 242px;
}

.sec2 .sec2_tit {
  padding: 80px 0 180px 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
  line-height: 39px;
  letter-spacing: -1px;
}

.sec2 .sec2_tit h2 {
  font-family: 'Gentium Basic', serif;
  font-size: 48px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  line-height: 48px;
  letter-spacing: -3px;
}

.sec2 .sec2_tit p {
  line-height: 30px;
}

.sec2 .sec2_tit span {
  font-size: 14px;
  position: relative;
}

.sec2 .sec2_tit span::after{
  position:absolute;
  content:url(../image/arrow.png);
  left:88px;
  transition:all .5s ease;
}
.sec2 .sec2_tit span:hover::after{
  left:110px;
}

.sec2 .sec2_tit span .st0 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10;
  stroke-width: .5px;
}

.sec2 .sec2_tit span .st1 {
  fill: none;
  stroke: #040000;
  stroke-miterlimit: 10;
  stroke-width: .5px;
}

.sec2 .sec2_cont {
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns:1fr;/*자연스럽게 500이하의 css 값이됨*/
  grid-template-rows:auto; 
  grid-gap:48px;
}

/*700이상일때 2등분*/
@media(min-width:600px){
  .sec2 .sec2_cont {
    grid-template-columns:repeat(2,1fr);
  }
} 
/*1080이상일때 3등분*/

@media(min-width:800px){
  .sec2 .sec2_cont {
    grid-template-columns:repeat(3,1fr);
  }
} 

.sec2 .sec2_cont .cont_box {
  position: relative;
  background: #fff;
  padding: 29px 0 46px 0;
  transition: all 1s ease;
}
.sec2 .sec2_cont .cont_box:nth-of-type(2),
.sec2 .sec2_cont .cont_box:nth-of-type(5){
transform: translateY(0);}


@media(min-width:1080px){
  .sec2 .sec2_cont .cont_box:nth-of-type(2),
  .sec2 .sec2_cont .cont_box:nth-of-type(5){
  transform: translateY(-125px);}
} 
.sec2 .sec2_cont .cont_box:hover {
  background:#e4e4e4;
}

.sec2 .sec2_cont .cont_box .lineup_tag {
  position: absolute;
  top: 6%;
  right: 9%;
  width: 15.5%;
}

.sec2 .sec2_cont .cont_box .lineup_tag div {
  width: 100%;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

.sec2 .sec2_cont .cont_box .lineup_tag div:first-child {
  background: #c9e1d7;
  margin-bottom: 5px;
}

.sec2 .sec2_cont .cont_box .lineup_tag div.mint {
  background: #c9e1d7;
  color: #000;
}

.sec2 .sec2_cont .cont_box .lineup_tag div.blue {
  background: #77cae5;
  color: #fff;
}

.sec2 .sec2_cont .cont_box .lineup_tag div.olive {
  background: #323e3b;
  color: #fff;
}

.sec2 .sec2_cont .cont_box .sec2_conts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  perspective: 2000px;
}
.sec2 .sec2_cont .cont_box .sec2_conts a{
  display:block;
  width:100%;
  height:100%;
}

.sec2 .sec2_cont .cont_box .sec2_conts img {
  width: 78%;
  height: 78%;
  transition:all 1s ease;
}

.sec2 .sec2_cont .cont_box:hover .sec2_conts img{
  transform: rotateX(-18deg);
}
.sec2 .sec2_cont .cont_box .sec2_conts h3 {
  margin-top: 32px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: -2px;
  transition:all .5s ease;
}

.sec2 .sec2_cont .cont_box .sec2_conts em {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  transition:all 1s ease;
}

.sec2 .sec2_cont .cont_box:hover .sec2_conts h3,
.sec2 .sec2_cont .cont_box:hover .sec2_conts em{color:#fff;}

/*sec3*/
.sec3 {
  padding-bottom: 140px;
}

.sec3 .sec3_tit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sec3 .sec3_tit h2 {
  font-family: 'Gentium Book Basic', serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 21px;
}

.sec3 .sec3_tit p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  padding-bottom: 15px;
}

.sec3 .sec3_tit em {
  padding-bottom: 47px;
}
.sec3 .sec3_tit em a{
  display:block;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  transition:all ease .5s;
}
.sec3 .sec3_tit em:hover a{
  color:#ccc;
}

.sec3 .sec3_box {
  display: flex;
  padding-bottom: 55px;
}

.sec3 .sec3_box div {
  width: 50%;
  height: 578px;
}

.sec3 .sec3_box div:nth-child(1) {
  background: url(../image/main4.jpg)no-repeat center center;
  background-size: cover;
}

.sec3 .sec3_box div:nth-child(2) {
  background: #323e3b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
}

.sec3 .sec3_box div:nth-child(2) h3 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
  padding-bottom: 24px;
}

.sec3 .sec3_box div:nth-child(2) p {
  max-width: 372px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
}

.sec3_not {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sec3_not div {
  width: 32.5%;
  height: 42.5vw;
}
.sec3_not div a{
  width:100%;
  height:100%;
  display:block;
}

.sec3_not div .sec3_not_pic {
  height: 21.6vw;
  width: 100%;
  transition:all .5s ease;
}

.sec3_not div:hover .sec3_not_pic{
  filter:sepia(0.3);
}

.sec3_not div:nth-child(1) .sec3_not_pic {
  background: url(../image/poster1.jpg)no-repeat center left;
  background-size: cover;
}

.sec3_not div:nth-child(2) .sec3_not_pic {
  background: url(../image/poster2.jpg)no-repeat center left;
  background-size: cover;
}

.sec3_not div:nth-child(3) .sec3_not_pic {
  background: url(../image/poster3.jpg)no-repeat center right;
  background-size: cover;
}

.sec3_not div .sec3_not_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20.9vw;
  width: 100%;
  background: #fff;
  color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.2vw;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  transition:all .5s ease;
}

.sec3_not div:hover .sec3_not_desc {
  background:#2e2d29;
  color:#fff;
}


.sec3_not div .sec3_not_desc h3 {
  font-family: 'Gentium Basic', serif;
  font-size: 31.6px;
  font-weight: 500;
}

.sec3_not div .sec3_not_desc em {
  padding-top: 22px;
  font-size:18px;
}

.sec3_not div .sec3_not_desc p {
  padding-top: 16px;
  font-size: 12px;
  max-width:225px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  line-height: 1.5;
}
.sec3_not div:hover .sec3_not_desc p{
  color:#a6b3a6;
  }
/*information*/
.information {
  height: 22.1vw;
  width: 100%;
  display: flex;
}

.information .info {
  position: relative;
  width: 33.333%;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  color: #323e3b;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information .info::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 70px;
  background: #323e3b;
}

.information .info:first-child::after {
  width: 0;
}

.information .info h4 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 27px;
}

.information .info span {
  display: block;
  font-size: 10px;
  font-weight: 500;
}
.information .info span a{
  color: #323e3b;
  transition:all ease .5s;
}

.information .info span:hover a{
  color: #fff;
}

.information .info span:nth-of-type(1) {
  padding-bottom: 14px;
}

/*footer*/
.footer {
  width: 100%;
  height: 27vw;
  color: #a6b3a6;
}

.footer .footer_btn {
  padding-top: 62px;
  overflow: hidden;
}

.footer .footer_btn span {
  float: left;
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: .8vw;
  font-weight: 500;
  padding: 5px 20px;
  margin-right: 8px;
  text-align: center;
  line-height: 2.4vw;
  background: #2e2d29;
  transition:all ease .5s;
}
.footer .footer_btn span:hover {
  background:#000;
  color:#fff;
}
.footer .footer_desc {
  padding: 33px 0 52px 0;
  box-sizing: border-box;
  border-bottom: .7px solid #a6b3a6;
}

.footer .footer_desc p {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: .75vw;
  font-weight: 400;
  line-height: 2.8;
}

.footer .footer_info {
  margin-top: 28px;
  overflow: hidden;
}

.footer .footer_info span {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  float: left;
}

.footer .footer_info .sns {
  float: right;
}

.footer .footer_info .sns li {
  display: inline-block;
  position: relative;
}

.footer .footer_info .sns li::after {
  position: absolute;
  top: 7px;
  left: 0;
  display: block;
  content: '';
  background: #a6b3a6;
  width: 1px;
  height: 10px;
}

.footer .footer_info .sns li a {
  display: inline-block;
  font-size: 11px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  padding: 0 1.64vw;
  transition:.5s all ease;
}

.footer .footer_info .sns li:hover a {
  color:#fff;
}

.footer .footer_info .sns li:first-child::after {
  width: 0;
}

.footer .footer_info .sns li:last-child a {
  padding-right: 0;
}

@media(max-width:1380px){
  .container{
    width:100%;
  }
  .row{
    padding:0 30px;
  }
  .header_nav_responsive{
    display:block;}
  .header_nav {
    display:none;
  }
  .header_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header_menu {
    position:absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  }

}
@media(max-width:1200px){
  .footer{
    height:36vw;
  }
}
@media(max-width:1080px){
  .sec2 .sec2_tit {
    padding: 80px 0 80px 0;
  }
  .sec2 .sec2_cont .cont_box {
    padding: 46px 0 46px 0;
  }
  .sec2 .sec2_cont .cont_box .sec2_conts h3 {
    font-size: 19px;
  }
  .sec2 .sec2_cont .cont_box .sec2_conts em {
    font-size: 12px;
    max-width: 150px;
    word-break: keep-all;
    text-align: center;
  }
  .sec2 .sec2_cont .cont_box .lineup_tag div {
    font-size: 10px;
  }
  .sec2 .sec2_cont .cont_box .lineup_tag {
    width: 21%;
  }
  .sec3_not div .sec3_not_desc h3 {
    font-size: 26px;
  }
  .sec3_not div .sec3_not_desc em {
    font-size: 16px;
}
}
@media(max-width:900px){

  .sec2{
    padding-bottom:180px;
  }
  .sec3 .sec3_box div {
    width:100%;
    height:350px;
  }
  .sec3 .sec3_box div:nth-child(1) {
    display:none;
  }
  
.footer{
  height:44vw;
}
  
}
@media(max-width:800px){
  .sec2 .sec2_cont .cont_box {
    padding: 60px 0 60px 0;
}

.sec2 .sec2_cont .cont_box .lineup_tag div {
  font-size: 12px;
}

.sec3_not {
  width: 100%;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  gap:40px;
}
.sec3_not div {
  height: 90vh;
  width: 100%;
}
.sec3_not div .sec3_not_pic {
  height: 70%;
}
.sec3_not div .sec3_not_desc {
  height:30%;
}

.footer .footer_btn {
  padding-top:5vw;
  display: flex;
  justify-content: center;
}
.footer .footer_btn span {
  padding:10px 15px;
}
.footer .footer_desc {
  padding: 20px 0 30px 0;
}
.footer .footer_desc p {
  text-align:center;
}
.footer .footer_info {
  margin-top: 15px;
}
.footer .footer_info span{
  display:none;
}
.footer .footer_info .sns{
  float:none;
  text-align:center;
}

}
@media(max-width:680px){
  .header_nav_responsive{
  width:250px;
  }
  .header_nav_responsive ul li a {
    font-size: 13px;
  }
  
  .sec2 .sec2_tit{
    padding: 20px 0;
    margin: 30px 0;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.8);
    font-size:12px;
}
.sec2 .sec2_tit span{
  font-size:12px;
  color:#fff;
  background:rgba(0,0,0,0.5);
  transition:all .5s ease;
  padding:5px 9px;
}
.sec2 .sec2_tit span:hover{
  background:rgba(0,0,0,0.8);
}
.sec2 .sec2_tit span::after{
  display:none;
  }

  .sec2 .sec2_cont .cont_box .sec2_conts h3 {
    font-size: 22px;
  }
  .sec2 .sec2_cont .cont_box .sec2_conts em {
    font-size: 14px;
    max-width: 500px;
  }

  .sec3 .sec3_tit h2 {
    font-size: 35px;
  }
  .sec3 .sec3_tit p{
    display:none;
  }
  .information{
    height:260px;
    padding:30px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .information .info span a{
    color:#ccc;
  }
  .information .info h4 {
    font-size:12px;
    margin-bottom: 10px;
  }
  .information .info span:nth-of-type(1) {
    padding-bottom: 6px;
  }
  .information .info::after {
    display:none;
  }
}
@media(max-width:600px){
  .sec2 .sec2_cont .cont_box .lineup_tag {
    width: 18%;
  }
}
@media(max-width:500px){
  .sec2 .sec2_cont .cont_box .lineup_tag {
    width: 15.5%;
  }
}